<header>
    <div class="ui inverted menu big fixed" id="menu">
        <div class="header item">
            <i class="icon book"></i>Cooking Blog
        </div>
        <a href="/" class="item">Home</a>
        <a class="item">Trending</a>
        <a href="/home/newblog"class="item">New Post</a>
        <a class="right item">My Profile</a>
    </div>
</header>